body {
  font-family: 'Roboto';
}

.full {
  width: 100%;
}

.listheader {
  display: inline-block;
  color: #444;
}

.newroom {
  margin-left: 10px;
  display: inline-block;
  vertical-align: text-bottom;
}

.clearroom {
  margin-left: 10px;
  display: inline-block;
  float: right;
  vertical-align: text-bottom;
}

.roomlist {
  height: 100vh;
  background-color: #EEE;
  padding: 1rem 0rem 0rem 2rem;
  overflow-y: scroll;
}

.chatwindow {
  height: 100vh;
  background-color: #fafafa;
  padding: 1rem;
  padding-bottom: 10rem;
  overflow-y: scroll;
}

.roomname {
  font-size: 2rem;
  color: #777;
}

.roomname:hover {
  cursor: pointer;
}

.message {
  width: 80%;
}

.username {
  font-weight: bold;
}

.sent-at {
  font-style: italic;
}

.message-write {
  position: fixed;
  bottom: 0px;
}

.activetyping {
  color: #777;
}

.error-message {
  color: red;
  font-size: 10px;
  padding: 8px 0 8px 0;
}

.admin {
  color: #939393;
  padding-right: 5px;
}
