body {
  font-family: 'Roboto';
}

.listheader {
  display: inline-block;
  color: #444;
}

.newroom {
  margin-left: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  height: 2em;
  background-color: #ADF;
}

.column {
  float: left;
  padding-left: 2rem;
}

.left {
  width: 25%;
  height: 100vh;
  background-color: #EEE;
}

.right {
  width: 75%;
  height: 100vh;
}

.roomname {
  font-size: 1.25rem;
  color: #777;
}
