body {
  font-family: 'Roboto';
}

h1 {
  color: #444;
}

.column {
    float: left;
    padding-left: 2rem;
}

.left {
    width: 25%;
    height: 100vh;
    background-color: #EEE;
}

.right {
    width: 75%;
    height: 100vh;
}

.roomname {
  font-size: 1.25rem;
  color: #777;
}
