<main class="container-fluid" ng-app="blocChat">
  <div class="row">
    <section class="col-sm-3 roomlist">
      <h1 class="listheader">Bloc Chat</h1>
      <button class="btn newroom" ng-click="home.openModal()">New Room</button>
      <p class="roomname" ng-repeat="room in rooms.all" ng-click="home.setRoom(room); messages.getByRoomId(room.$id)">
          {{ room.$value }}
      </p>
    </section>
    <section class="col-sm-9 chatwindow">
      <h2 ng-show="!currentRoom"><em>Select a room!!</em></h2>
      <h2>{{ currentRoom.$value }}</h2>
      <table class="table table-striped" ng-show="currentRoom">
        <tbody>
          <tr ng-repeat="message in messages.all">
            <td class="message">
              <p class="username">
                {{ message.username }}
              </p>
              <p class="content">
                {{ message.content }}
              </p>
            </td>
            <td class="sent-at text-right">{{ message.sentAt | date:"h:mm a"}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row message-write" ng-show="currentRoom">
        <div class="col-lg-12">
          <form class="input-group input-group-lg" name="form.messageSubmit" ng-submit="home.sendMessage()">
            <input type="text" class="form-control" ng-model="message.content" placeholder="Write your message here..." autofocus required>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Submit</button>
            </span>
          </form>
        </div>
    </section>
  </div>
</main>
